html,
html *,
body,
body * {
  cursor: none!important;
}

.cursor-dot,
.cursor-dot-outline {
  pointer-events: none!important;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  z-index:30000;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: #2c2c2c;
}

.cursor-dot-outline {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #dedede;
}